<!DOCTYPE html>
		<html>
		<head>
			<meta charset="UTF-8">
			<title>Метрики</title>
		</head>
		<body>
			<h1>Метрики типа Counter</h1>
			<table border="1">
				<tr>
					<th>Key</th>
					<th>Value</th>
				</tr>
				{{range $key, $value := .IntMap}}
					<tr>
						<td>{{$key}}</td>
						<td>{{$value}}</td>
					</tr>
				{{end}}
			</table>

			<h1>Метрики типа Gauge</h1>
			<table border="1">
				<tr>
					<th>Key</th>
					<th>Value</th>
				</tr>
				{{range $key, $value := .FloatMap}}
					<tr>
						<td>{{$key}}</td>
						<td>{{$value}}</td>
					</tr>
				{{end}}
			</table>
		</body>
		</html>